// App.scss

body {
  background: linear-gradient(to top, rgb(28, 168, 28), 40%, rgb(2, 1, 11));
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    text-align: center;

    .title {
      background: linear-gradient(rgb(80, 255, 5) 30%, rgb(255, 214, 29) 65%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Lobster, sans-serif;
      margin: 1em 0.5em;
      font-size: 3em;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;

    .image {
      height: 400px;
      width: 600px;
      border-radius: 5px;
      border: solid 2px black;
      margin-bottom: 1em;
    }

    .question {
      font-size: 1.5rem;
      margin: 1em;
      text-align: center;

      .underline {
        text-decoration: underline;
      }
    }

    .buttons {
      height: 100px;
      width: 400px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 10px;

      .question-btn {
        font-size: 1rem;
        transition: 0.5s;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0.5em;
        cursor: pointer;

        &:hover {
          border: 2px solid black;
        }

        &:disabled {
          cursor: not-allowed;
        }

        &.correct {
          background-color: green;
        }

        &.wrong {
          background-color: red;
        }
      }
    }

    .start-btn,
    .next-btn {
      margin-top: 1em;
      margin-bottom: 1em;
      width: 120px;
      height: 50px;
      border: solid 2px black;
      border-radius: 5px;
      font-size: 1rem;

      &:hover {
        border: solid 3px black;
      }
    }

    button:hover {
      border: solid 2px black;
    }

    .score {
      margin: 15px;
      font-size: 2rem;
    }

    .hide {
      display: none;
    }

    .sub-header {
      margin: 1em;
    }

    .para-text {
      font-size: 1.5rem;
      margin: 0.5em 1em;
    }

    .animation-win {
      position: relative;
      border: solid 1px black;
      border-radius: 100px;
      width: 300px;
      margin: auto;
      margin-top: 0.5em;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      color: black;
      animation-name: win;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }

    .you-lost {
      border: solid 1px black;
      background-color: red;
      border-radius: 100px;
      width: 300px;
      margin-top: 0.5em;
      margin: auto;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
    }
  }

  @keyframes win {
    0% {
      background-color: yellow;
    }
    50% {
      background-color: blue;
      color: blue;
    }
    100% {
      background-color: yellow;
    }
  }

  @media screen and (max-width: 550px) {
    .main-content {
      width: 450px;

      .image {
        width: 450px;
      }
    }
  }
}
